* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: cyan;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: inherit;
    color: inherit;
}
.password-generator {
    display: none;
    text-align: center;
    border-radius: 10px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    padding: 15px 0;
    box-shadow: 10px 10px 30px #333 ;
}
h5 {
    position: absolute;
    right: 65px;
    top: 50px;
}
.password-generator p {
    margin-top: 20px;
}
.password-generator h1{
    margin-bottom: 10px;
}
#utente {
    padding: 10px 0;
}
.altri-dati {
    left: 50%;
    top: 42%;
}